* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  max-width: 100vw;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  background-color: #eef1f34a;
}
:root {
  --heading-font: "Libre Baskerville", serif;
  --paragraph-font-size: 0.9em;
  --section-heading-color: #1080b0;
}
p {
  font-size: var(--paragraph-font-size);
}

div.intro-section {
  margin: 35px 0 25px;
  flex-wrap: wrap;
}
.intro,
.image {
  flex: 1;
}
header {
  justify-content: space-between;
  margin: 5px 3px;
  padding: 5px;
  width: 100%;
  font-family: var(--heading-font);
}
div.brand{
  color: var(--section-heading-color);
}
div.section-links a {
  padding: 3px;
  font-size: 0.7em;
  font-weight: 900;
  color: var(--section-heading-color);
  position: relative;
  transition: all ease-in-out 200ms;
}
div.section-links a:hover {
  color: var(--section-heading-color);
}
div.section-links a::after, a.btn::after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--section-heading-color);
  transform-origin: bottom right;
  transition: transform ease-in-out 0.5s;
}
div.section-links a:hover::after, a.btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
h1.title {
  font-family: var(--heading-font);
  font-size: 1em;
  font-weight: 700;
}
img.my-picture {
  max-height: 200px;
  display: block;
  margin: 0 auto;
}
div.vertical-line {
  width: 2px;
  height: 25px;
  background: rgb(179, 175, 175);
}
div.my-skills p {
  font-family: var(--heading-font);
  font-size: 0.72em;
  font-weight: 560;
}
div.skills,
div.about-section {
  flex-wrap: wrap;
}
div.about-section {
  margin-top: 50px;
}
i.html,
i.css,
i.js,
i.bootstrap,
div.image-about-section,
div.about {
  flex: 1;
}
div.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
h2.about-heading,
h2.portfolio-heading,
h2.contact-heading,
h3.contacts-heading,
h3.projects-heading,
h3.about-me-heading,
h3.project-title {
  font-family: var(--heading-font);
}
h2.about-heading,
h2.portfolio-heading,
h2.contact-heading {
  color: var(--section-heading-color);
  font-size: 1em;
  font-weight: 700;
  line-height: 30px;
}
h3.about-me-heading,
h3.projects-heading,
h3.contacts-heading {
  font-size: 0.9em;
  font-weight: 700;
}
h2.portfolio-heading,
h3.projects-heading,
h2.contact-heading,
h3.contacts-heading {
  text-align: center;
}
div.image-about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
img.desk-setup {
  border-radius: 8px;
  height: 200px;
}
hr.section-divider {
  display: none;
}
div.project-1,
div.project-2,
div.project-3,
div.project-4 {
  padding: 20px 10px;
  margin: 30px 15px;
  background-color: #ffffff;
  box-shadow: 1px 1px 8px rgb(181, 179, 179);
  border-radius: 10px;
}
span.email-heading,
span.phone-heading,
span.social-heading,
span.location-heading {
  color: var(--section-heading-color);
  font-family: var(--heading-font);
}
div.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
div.email-phone,
div.social-location {
  flex: 1;
}
div.email,
div.phone,
div.social,
div.location {
  padding: 30px;
  text-align: center;
}
.email a {
  color: #000000;
}
.email a:hover {
  color: var(--section-heading-color);
}
.email a,
.links a,
.social-links a {
  transition: all ease-in-out 200ms;
}
.links a,
.social-links a {
  font-size: 1.2em;
}
.links a:hover,
.social-links a:hover {
  font-size: 1.1em;
  margin: 2px 1px;
}
div.about-project {
  margin: auto;
}
div.project-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.project-code-links {
  display: flex;
  gap: 1em;
}
div.tech-stack i {
  margin: 0 30px 10px 0;
}
p.details {
  font-size: 0.8em;
  padding-top: 8px;
}
a.btn {
  color: var(--section-heading-color);
  padding: 0px;
  margin-top: 5px;
  font-size: 0.8em;
  position: relative;
  transition: all ease-in-out 200ms;
}
a.btn:hover {
  color: var(--section-heading-color);
}
h3.project-title {
  display: flex;
  justify-content: start;
  color: var(--section-heading-color);
  font-size: 0.9em;
}
@media (max-width: 420px) {
  div.brand,
  div.image {
    display: none;
  }
  div.section-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  div.intro h1,
  div.intro p {
    text-align: center;
  }
  div.links {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  div.body {
    width: 85%;
  }
}
@media (max-width: 576px) {
  div.about-section {
    margin-top: 0;
    display: block;
  }
  h2.about-heading,
  h3.about-me-heading,
  p.about-me {
    text-align: center;
  }
  img.desk-setup {
    display: none;
  }
  div.about {
    margin-top: 0;
  }
  hr.section-divider {
    display: block;
    margin: 20px auto;
  }
  div.projects {
    margin: auto;
    width: 100%;
  }
  div.contacts {
    display: block;
    text-align: center;
  }
  div.about-project {
    display: grid;
    place-items: center;
  }
  p.details {
    text-align: center;
  }
}
